/* HERO */

.hero-bg-mission {
    background-image: url(../assets/concept-hero.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    position: relative;
}

.trois-blocs-concept div {
    height: 200px;
}

