/* HERO HOMEPAGE */

.hero-bg-homepage {
    background-image: url(../assets/homepage-hero.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 1310px;
    position: relative;
}

.il-est-temps {
    color: #FFF;
    font-size: 50px;
    margin-top: 10%;
}

.au-service-de {
    color: #FFF;
    font-size: 35px;
    margin-top: 55%;
}

.trois-blocs {
    column-gap: 50px;
    margin-bottom: 100px;
}

.trois-blocs div {
    border-radius: 10px;
    background: #8C5CBC;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.40);
    color: #FFF;
    height: 200px;
    width: 250px;
    margin-top: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    row-gap: 15px;
}

/* BIENFAITS */

.bienfaits-container {
    margin-top: 100px;
}

.massage-photo {
    max-height: 420px;
    margin-right: 10%;
    padding-top: 50px;
}

.texte-du-bloc {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    margin-left: 10%;
}

.bullets-bienfaits {
    display: flex;
    row-gap: 15px;
    flex-direction: column;
}

.bullets-bienfaits p {
    font-size: 18px;
    width: 70%;
}

/* BANNER */

.schema-une-heure {
    width: 55%;
    margin-bottom: 35px;
}

/* CLIENTS */

.clients-slider img {
    max-width: 200px;
    max-height: 100px;
    margin-bottom: 100px;
}

.clients-title {
    margin-top: 100px;
    margin-bottom: 25px;
    font-size: 25px;
    font-weight: 700;
}

.clients-arrows {
    font-weight: 700;
    column-gap: 150%;
}

/* RESPONSIVE */

@media (min-width: 992px) and (max-width: 1199.98px) {}

@media (min-width: 768px) and (max-width: 991.98px) {

    /* HERO */

    .hero-bg {
        height: 1000px;
    }

    .il-est-temps {
        font-size: 55px;
        padding: 30px 30px 0 30px;
    }

    .au-service-de {
        font-size: 30px;
        margin-top: 60%;
        padding: 30px 0 0 30px;
    }

    .trois-blocs {
        column-gap: 10px;
    }

    /* BIENFAITS */

    .bienfaits-container {
        margin-top: 150px;
    }

    .texte-du-bloc {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        margin: 0px;
    }

    .bullets-bienfaits {
        align-items: center;
    }

    .bullets-bienfaits div {
        width: 100%;
    }

    .bullets-bienfaits p {
        width: 100%;
    }

    .massage-photo {
        /* max-width: 100%;
        height: auto; */
        padding-top: 50px;
    }

    /* CLIENTS */

    .clients-slider img {
        max-width: 125px;
        max-height: 75px;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {

    /* HERO */

    .il-est-temps {
        font-size: 65px;
        padding: 30px 30px 0 30px;
    }

    .au-service-de {
        font-size: 20px;
        margin-top: 140%;
        padding: 30px 0 0 30px;
    }

    .trois-blocs {
        column-gap: 10px;
    }

    /* BIENFAITS */

    .texte-du-bloc {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        margin: 0px;
    }

    .bullets-bienfaits {
        align-items: center;
    }

    .bullets-bienfaits div {
        width: 100%;
    }

    .bullets-bienfaits p {
        width: 100%;
    }

    .massage-photo {
        margin: auto;
        padding-top: 50px;
    }

    .schema-une-heure {
        width: 100%;
    }

    /* CLIENTS */

    .clients-title {
        margin-top: 50px;
        margin-bottom: 25px;
        font-size: 20px;
    }

    .clients-slider {
        column-gap: 5px;
    }

    .clients-slider img {
        max-width: 100px;
        max-height: 50px;
        margin-bottom: 50px;
    }
}

@media (max-width: 575.98px) {

    /* HERO */

    .hero-bg {
        height: 1000px;
    }

    .il-est-temps {
        font-size: 45px;
        padding: 30px 30px 0 30px;
    }

    .au-service-de {
        font-size: 20px;
        margin-top: 125%;
        padding: 30px 0 0 30px;
    }

    .trois-blocs {
        column-gap: 10px;
    }

    .trois-blocs div {
        color: #FFF;
        height: 150px;
        padding: 0px;
        row-gap: 10px;
    }

    .trois-blocs div img {
        width: 35px
    }

    .trois-blocs div p {
        margin-bottom: 0px;
    }

    /* BIENFAITS */

    .texte-du-bloc {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        margin: 0px;
        margin-top: 50px;
    }

    .texte-du-bloc h4 {
        text-align: center;
    }

    .bullets-bienfaits {
        align-items: center;
    }

    .bullets-bienfaits div {
        width: 100%;
    }

    .bullets-bienfaits p {
        width: 100%;
    }

    .massage-photo {
        max-height: 350px;
        padding-top: 50px;
        margin: auto;
    }

    .schema-une-heure {
        width: 100%;
    }

    /* CLIENTS */

    .clients-title {
        margin-top: 50px;
        margin-bottom: 25px;
        font-size: 20px;
    }

    .clients-slider {
        column-gap: 5px;
    }

    .clients-slider img {
        max-width: 75px;
        max-height: 35px;
        margin-bottom: 50px;
    }

    .clients-arrows {
        margin-right: 10%;
    }
}